@define-color rosewater #4d5960;
@define-color flamingo #5d6b66;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #4c3743;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #55544a;
@define-color green #18392b;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #3a515d;
@define-color blue #384b55;
@define-color lavender #b7bdf8;
@define-color text #495156;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base rgba(255, 255, 255, 0);
@define-color mantle #1e2030;
@define-color crust #181926;
